@charset "utf-8";

#container #center #top1 {
	float: left;
	clear: right;
}

#container #center #top1 #top_chitiet {
	box-shadow: 1px 1px 15px #0A1628;
	border-radius: 5px;
	width: 65%;
	background-color: #F6F9F9;
	height: auto;
	margin: 20px 0 30px 39px;
	padding: 0 20px 20px 20px;
	float: left;
	clear: right;
}

#container #center #top1 #tinlienquan {
	width: 22%;
	height: 500px;
	float: right;
	margin: 40px 36px 0 0;
	text-align: center;
	font-size: 16px;
}

#container #center #top1 #tin {
	border-bottom-style: groove;
	height: 500px;
	margin-bottom: 20px;
}

.muc {
	font-size: 20px;
}