@charset "utf-8";

#container #center #top_chitiet {
	width: 90%;
	background-color: #50b2ce;
	height: 1200px;
	margin: auto;
	margin-top: 75px;
	padding-left: 20px;
	padding-right: 20px;
}

#center #top_chitiet #title_tinchitiet h2 {
	margin: auto;
	width: 95%;
	background-color: red;
	text-align: center;
	font-size: 27px;
	height: 50px;
}

#center #ct_link {
	width: 93%;
	height: 650px;
	margin: auto;
	
}

#center #ct_link #binhluan {
    width: 63%;
    padding-left: 10px;
    height: 300px;
    margin-top: 20px;
    float: left;
    clear: right;
}

#center #ct_link #tinlienquan {
	background-color: #ECE7B3;
	width: 31%;
	height: 500px;
	float: right;
	margin-top: 20px;
}
#center #ct_link #tinlienquan #title {font-size: 24px;
    width: 100%;
    color: #027087;
    margin-top: 10px;
    text-align: center;}