#form #input_tin {
	margin-bottom: 15px;
	height: 40px;
}

label {
	font-weight: 700;
}

input {
	font-family: "Times New Roman", Times, serif;
	border-radius: 5px;
	margin-top: 15px;
	margin-left: 1%;
}

}
input.in:HOVER {
	transition: width 1s ease;
	width: 220px;
	color: blue;
	box-shadow: 1px 1px 15px #0099ff;
}

#button {
	margin-bottom: 15px;
	width: 200px;
	float: left;
	clear: right;
}

.action:hover {
	box-shadow: 0px 0px 10px #0099ff;
}