#news {
	width: 75%;
	height: 1035px;
	float: left;
	padding-left: 2px;
	padding-right: 20px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #f6f7fb;
	border-left-width: 1px;
	border-left-color: #f6f7fb;
	background-color: #FFF;
}

#news h2 {
	font-size: 16px;
	font-weight: 700;
	margin-top: 0px;
	padding-top: 10px;
	background-color: #F2F2F2;
	height: 25px;
	padding-left: 20px;
}

#news p {
	padding-left: 10px;
	margin: 0px;
}

#news .img {
	border: 3px solid #CCC;
	height: 70px;
	width: 110px;
	margin-left: 20px;
	margin-right: 10px;
}

#news .date {
	color: #F90;
	font-weight: bold;
}

#news .readmore {
	color: rgb(6, 112, 142);
	text-align: right;
	text-decoration: none;
}

.readmore:hover {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0
		rgba(0, 0, 0, 0.12);
}

img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

#news .pagelimitfirst {
	height: 22px;
	width: 35px;
	border-radius: 5px;
	color: #999;
	text-align: center;
	clear: right;
	float: left;
	margin-right: 3px;
	margin-left: 3px;
	text-decoration: none;
	padding-top: 3px;
}

#news .pagelimit1 {
	background-color: #494949;
	height: 22px;
	width: 30px;
	border-radius: 5px;
	color: #FFF;
	text-align: center;
	clear: right;
	float: left;
	margin-right: 3px;
	margin-left: 3px;
	text-decoration: none;
	padding-top: 3px;
}

#news .pagelimit {
	background-color: #E0E0E0;
	height: 22px;
	width: 30px;
	border-radius: 5px;
	color: #000;
	text-align: center;
	clear: right;
	float: left;
	margin-right: 3px;
	margin-left: 3px;
	text-decoration: none;
	padding-top: 3px;
}

#news .pagelimitlast {
	background-color: #E0E0E0;
	height: 22px;
	width: 40px;
	border-radius: 5px;
	color: #020203;
	text-align: center;
	clear: right;
	float: left;
	margin-right: 3px;
	margin-left: 3px;
	text-decoration: none;
	padding-top: 3px;
}

#news .pagelimit:hover,.pagelimitfirst:hover {
	background-color: #494949;
	height: 22px;
	width: 30px;
	border-radius: 5px;
	color: #FFF;
	text-align: center;
	clear: right;
	float: left;
	margin-right: 3px;
	margin-left: 3px;
	text-decoration: none;
	padding-top: 3px;
}

#news .pagelimitlast:hover {
	background-color: #494949;
	height: 22px;
	width: 30px;
	border-radius: 5px;
	color: #FFF;
	text-align: center;
	clear: right;
	float: left;
	margin-right: 3px;
	margin-left: 3px;
	text-decoration: none;
	padding-top: 3px;
}