@charset "utf-8";

#container #center {
	margin-left: 5px;
}

#blogtin {
	background: #F2F2F2;
	width: 38%;
	height: 78%;
	float: right;
	overflow: auto;
	border: 1px solid #CCCCCC;
	box-shadow: 1px 1px 10px #0A1628;
}

#videomain {
	width: 60%;
	height: 100%;
	float: left;
	clear: right;
	"
}

p {
	color: #000;
	font-size: 17px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 4px;
	margin-bottom: 4px;
	outline: none;
	text-decoration: none;
}

h4 {
	margin: 3px 0px 13px 0px;
	font-family: "Times New Roman", serif;
	font-size: 20px;
	font-weight: lighter;
	color: #027087;
}

h5 {
	width: 77%;
	height: 32px;
	margin-left: -2px;
}

#center #toptin {
	width: 94%;
	height: 680px;
	margin-top: 75px;
	margin-left: 30px;
	margin-right: 32px;
	border-bottom: #e6e6e8 groove 2px;
}

#center #bangtin_chinh #tin_lienquan {
	margin-left: 30px;
	margin-right: 32px;
}

#midle2_rights {
	margin-top: -35px;
	margin-right: 35px;
	color: #000;
	width: 18%;
	float: right;
}

#midle2_rights #midle2_radio {
	width: 100%;
	height: 210px;
	color: #072238;
	margin-bottom: 82px;
}

#listradio {
	background-color: #DDEAF3;
	margin-right: 1px;
}

#midle2_rights #midle2_radio #playradio {
	background-image: url(../img/image_interface/bg5.png);
	border: 2px solid #CCC;
	border-radius: 0 0 10px 10px;
	background-repeat: repeat;
	height: 60px;
	margin-top: 8px;
	margin-bottom: 25px;
}

#midle2_rights #midle2_radio #playradio audio {
	margin-left: 140px;
	margin-top: 16px;
}

#itemradio {
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #FFF;
	margin: 18px 5px 0 0;
}

#midle2_rights #quangcao {
	background-repeat: no-repeat;
	float: right;
	height: 340px;
	width: 200px;
	margin-top: 20px;
	border-top-width: medium;
	border-top-style: groove;
	border-top-color: #027087;
}